{
    "swagger": "2.0",
    "info": {
        "title": "testy API",
        "description": "testy API",
        "version": "v1"
    },
    "host": "tms.transtelematica.ru",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Basic": {
            "type": "basic"
        }
    },
    "security": [
        {
            "Basic": []
        }
    ],
    "paths": {
        "/api/token/": {
            "post": {
                "operationId": "api_token_create",
                "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenObtainPair"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TokenObtainPair"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/token/obtain/": {
            "get": {
                "operationId": "api_token_obtain_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TTLTokenOutput"
                            }
                        }
                    }
                },
                "tags": [
                    "Token"
                ]
            },
            "post": {
                "operationId": "api_token_obtain_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TTLAuthTokenInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TTLAuthTokenInput"
                        }
                    }
                },
                "tags": [
                    "Token"
                ]
            },
            "parameters": []
        },
        "/api/token/obtain/{key}/": {
            "get": {
                "operationId": "api_token_obtain_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TTLTokenOutput"
                        }
                    }
                },
                "tags": [
                    "Token"
                ]
            },
            "patch": {
                "operationId": "api_token_obtain_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TTLTokenOutput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TTLTokenOutput"
                        }
                    }
                },
                "tags": [
                    "Token"
                ]
            },
            "delete": {
                "operationId": "api_token_obtain_delete",
                "description": "",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Token"
                ]
            },
            "parameters": [
                {
                    "name": "key",
                    "in": "path",
                    "description": "A unique value identifying this Токен.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/token/refresh/": {
            "post": {
                "operationId": "api_token_refresh_create",
                "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TokenRefresh"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TokenRefresh"
                        }
                    }
                },
                "tags": [
                    "api"
                ]
            },
            "parameters": []
        },
        "/api/v1/attachments/": {
            "get": {
                "operationId": "api_v1_attachments_list",
                "description": "",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AttachmentV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Attachments"
                ]
            },
            "post": {
                "operationId": "api_v1_attachments_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AttachmentV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AttachmentV1"
                        }
                    }
                },
                "tags": [
                    "Attachments"
                ]
            },
            "parameters": []
        },
        "/api/v1/attachments/{id}/": {
            "get": {
                "operationId": "api_v1_attachments_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AttachmentV1"
                        }
                    }
                },
                "tags": [
                    "Attachments"
                ]
            },
            "delete": {
                "operationId": "api_v1_attachments_delete",
                "description": "",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Attachments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this attachment.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/": {
            "get": {
                "operationId": "api_v1_cases_list",
                "description": "Returns list of test cases in different formats, depending on parameters.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "suite",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Case-insensitive filter for partial matches within the string",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Parameter for ordering list responses, add \"-\" to field name for descending order by: name",
                        "type": "string"
                    },
                    {
                        "name": "test_case_created_after",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "test_case_created_before",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Parameter for case insensitive search in following fields: id, name",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "labels",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "not_labels",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "is_archive",
                        "in": "query",
                        "description": "If True is provided display all plans including archive, if false only is_archive=False instances",
                        "type": "boolean"
                    },
                    {
                        "name": "labels_condition",
                        "in": "query",
                        "description": "Condition for boolean logic for labels, options are: and/or",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/TestCaseListSerializerV1"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "post": {
                "operationId": "api_v1_cases_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseInputWithStepsV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseRetrieveV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/archive/restore/": {
            "post": {
                "operationId": "api_v1_cases_archive_restore_archived",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/copy/": {
            "post": {
                "operationId": "api_v1_cases_copy_cases",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseCopyV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TestCaseRetrieveV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/deleted/": {
            "get": {
                "operationId": "api_v1_cases_recovery_list",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search term.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/TestCaseListSerializerV1"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/deleted/recover/": {
            "post": {
                "operationId": "api_v1_cases_deleted_restore",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/deleted/remove/": {
            "post": {
                "operationId": "api_v1_cases_deleted_delete_permanently",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/search/": {
            "get": {
                "operationId": "api_v1_cases_cases_search",
                "description": "Return treeview of suites with displaying case.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "suite",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Case-insensitive filter for partial matches within the string",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Parameter for ordering list responses, add \"-\" to field name for descending order by: name",
                        "type": "string"
                    },
                    {
                        "name": "test_case_created_after",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "test_case_created_before",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Parameter for case insensitive search in following fields: id, name",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "labels",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "not_labels",
                        "in": "query",
                        "description": "Несколько значений могут быть разделены запятыми.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "is_archive",
                        "in": "query",
                        "description": "If True is provided display all plans including archive, if false only is_archive=False instances",
                        "type": "boolean"
                    },
                    {
                        "name": "labels_condition",
                        "in": "query",
                        "description": "Condition for boolean logic for labels, options are: and/or",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/TestSuiteTreeCases"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": []
        },
        "/api/v1/cases/{history_id}/history/": {
            "get": {
                "operationId": "api_v1_cases_get_history",
                "description": "",
                "parameters": [
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Parameter for case insensitive search in following fields: history_date, history_user, history_type",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Parameter for ordering list responses, add \"-\" to field name for descending order by: name",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TestCaseHistoryV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "history_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/api/v1/cases/{id}/": {
            "get": {
                "operationId": "api_v1_cases_read",
                "description": "",
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Numeric string to show older version of chosen test case",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseRetrieveV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "put": {
                "operationId": "api_v1_cases_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseInputWithStepsV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseRetrieveV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "delete": {
                "operationId": "api_v1_cases_delete",
                "summary": "Replace default destroy method.",
                "description": "Replacement for default destroy action, if user retrieved deleted objects, we save gathered querysets to\ncache and if he submits deletion within time gap use user cookie to retrieve cache and delete objects.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/{id}/archive/": {
            "post": {
                "operationId": "api_v1_cases_archive_objects",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseListSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/{id}/archive/preview/": {
            "get": {
                "operationId": "api_v1_cases_archive_archive_preview",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/{id}/delete/preview/": {
            "get": {
                "operationId": "api_v1_cases_delete_delete_preview",
                "description": "Get preview of objects to delete, retrieved querysets are cached.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/{id}/tests/": {
            "get": {
                "operationId": "api_v1_cases_get_tests",
                "description": "",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Parameter for ordering list responses, add \"-\" to field name for descending order by: name",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TestWithBreadcrumbs"
                            }
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/cases/{id}/version/restore/": {
            "post": {
                "operationId": "api_v1_cases_version_restore_case_version",
                "description": "Restore test cases to its former version",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TestCaseRestoreV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/TestCaseRetrieveV1"
                        }
                    }
                },
                "tags": [
                    "Test cases"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this test case.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/comments/": {
            "get": {
                "operationId": "api_v1_comments_list",
                "description": "",
                "parameters": [
                    {
                        "name": "comment_id",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "object_id",
                        "in": "query",
                        "type": "integer"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Parameter for case insensitive search in following fields: -created_at",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "links": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "uri"
                                        },
                                        "previous": {
                                            "type": "uri"
                                        }
                                    }
                                },
                                "count": {
                                    "type": "integer"
                                },
                                "pages": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "integer"
                                        },
                                        "previous": {
                                            "type": "integer"
                                        },
                                        "current": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/CommentSerializerV1"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "post": {
                "operationId": "api_v1_comments_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/InputCommentSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CommentSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "parameters": []
        },
        "/api/v1/comments/{id}/": {
            "get": {
                "operationId": "api_v1_comments_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CommentSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "put": {
                "operationId": "api_v1_comments_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/InputCommentSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/InputCommentSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "patch": {
                "operationId": "api_v1_comments_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommentSerializerV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CommentSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "delete": {
                "operationId": "api_v1_comments_delete",
                "description": "",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Comments"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this comment.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/custom-attributes/": {
            "get": {
                "operationId": "api_v1_custom-attributes_list",
                "description": "",
                "parameters": [
                    {
                        "name": "suite",
                        "in": "query",
                        "description": "Related suite id",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomAttributeOutputSerializerV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "post": {
                "operationId": "api_v1_custom-attributes_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeOutputSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": []
        },
        "/api/v1/custom-attributes/content-types/": {
            "get": {
                "operationId": "api_v1_custom-attributes_get_allowed_content_types",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/definitions/ContentTypeV1"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": []
        },
        "/api/v1/custom-attributes/deleted/": {
            "get": {
                "operationId": "api_v1_custom-attributes_recovery_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomAttributeInputV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": []
        },
        "/api/v1/custom-attributes/deleted/recover/": {
            "post": {
                "operationId": "api_v1_custom-attributes_deleted_restore",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": []
        },
        "/api/v1/custom-attributes/deleted/remove/": {
            "post": {
                "operationId": "api_v1_custom-attributes_deleted_delete_permanently",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": []
        },
        "/api/v1/custom-attributes/{id}/": {
            "get": {
                "operationId": "api_v1_custom-attributes_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeOutputSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "put": {
                "operationId": "api_v1_custom-attributes_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeOutputSerializerV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "patch": {
                "operationId": "api_v1_custom-attributes_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CustomAttributeInputV1"
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "delete": {
                "operationId": "api_v1_custom-attributes_delete",
                "summary": "Replace default destroy method.",
                "description": "Replacement for default destroy action, if user retrieved deleted objects, we save gathered querysets to\ncache and if he submits deletion within time gap use user cookie to retrieve cache and delete objects.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Custom attribute.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/custom-attributes/{id}/delete/preview/": {
            "get": {
                "operationId": "api_v1_custom-attributes_delete_delete_preview",
                "description": "Get preview of objects to delete, retrieved querysets are cached.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Custom attributes"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Custom attribute.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/groups/": {
            "get": {
                "operationId": "api_v1_groups_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GroupV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "post": {
                "operationId": "api_v1_groups_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "parameters": []
        },
        "/api/v1/groups/{id}/": {
            "get": {
                "operationId": "api_v1_groups_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "put": {
                "operationId": "api_v1_groups_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "patch": {
                "operationId": "api_v1_groups_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/GroupV1"
                        }
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "delete": {
                "operationId": "api_v1_groups_delete",
                "description": "",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Groups"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Group.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/labels/": {
            "get": {
                "operationId": "api_v1_labels_list",
                "description": "",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Valid values are: id,name,type. Prefix \"-\" reverses order",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LabelV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "post": {
                "operationId": "api_v1_labels_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": []
        },
        "/api/v1/labels/deleted/": {
            "get": {
                "operationId": "api_v1_labels_recovery_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LabelV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": []
        },
        "/api/v1/labels/deleted/recover/": {
            "post": {
                "operationId": "api_v1_labels_deleted_restore",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": []
        },
        "/api/v1/labels/deleted/remove/": {
            "post": {
                "operationId": "api_v1_labels_deleted_delete_permanently",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": []
        },
        "/api/v1/labels/{id}/": {
            "get": {
                "operationId": "api_v1_labels_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "put": {
                "operationId": "api_v1_labels_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "patch": {
                "operationId": "api_v1_labels_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/LabelV1"
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "delete": {
                "operationId": "api_v1_labels_delete",
                "summary": "Replace default destroy method.",
                "description": "Replacement for default destroy action, if user retrieved deleted objects, we save gathered querysets to\ncache and if he submits deletion within time gap use user cookie to retrieve cache and delete objects.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Label.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/labels/{id}/delete/preview/": {
            "get": {
                "operationId": "api_v1_labels_delete_delete_preview",
                "description": "Get preview of objects to delete, retrieved querysets are cached.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Labels"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Label.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/notifications/": {
            "get": {
                "operationId": "api_v1_notifications_list",
                "description": "",
                "parameters": [
                    {
                        "name": "unread",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ordering",
                        "in": "query",
                        "description": "Parameter for case insensitive search in following fields: id, unread",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "links": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "uri"
                                        },
                                        "previous": {
                                            "type": "uri"
                                        }
                                    }
                                },
                                "count": {
                                    "type": "integer"
                                },
                                "pages": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "integer"
                                        },
                                        "previous": {
                                            "type": "integer"
                                        },
                                        "current": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/NotificationV1"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/deleted/": {
            "get": {
                "operationId": "api_v1_notifications_recovery_list",
                "description": "",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/NotificationV1"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/deleted/recover/": {
            "post": {
                "operationId": "api_v1_notifications_deleted_restore",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NotificationV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/NotificationV1"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/deleted/remove/": {
            "post": {
                "operationId": "api_v1_notifications_deleted_delete_permanently",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NotificationV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/NotificationV1"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/disable/": {
            "post": {
                "operationId": "api_v1_notifications_disable_notifications",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModifyNotificationsSettingsV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disabled notifications for \u003Cnotifications_codes\u003E"
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/enable/": {
            "post": {
                "operationId": "api_v1_notifications_enable_notifications",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModifyNotificationsSettingsV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Enabled notifications for \u003Cnotifications_codes\u003E"
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/mark-as/": {
            "post": {
                "operationId": "api_v1_notifications_mark_as",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MarkNotificationV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/MarkNotificationV1"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/settings/": {
            "get": {
                "operationId": "api_v1_notifications_notification_settings",
                "description": "",
                "parameters": [
                    {
                        "name": "action_code",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose_name",
                        "in": "query",
                        "description": "Case-insensitive filter for partial matches within the string",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/NotificationSettingV1"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": []
        },
        "/api/v1/notifications/{id}/": {
            "get": {
                "operationId": "api_v1_notifications_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/NotificationV1"
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "delete": {
                "operationId": "api_v1_notifications_delete",
                "summary": "Replace default destroy method.",
                "description": "Replacement for default destroy action, if user retrieved deleted objects, we save gathered querysets to\ncache and if he submits deletion within time gap use user cookie to retrieve cache and delete objects.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Notification.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/notifications/{id}/delete/preview/": {
            "get": {
                "operationId": "api_v1_notifications_delete_delete_preview",
                "description": "Get preview of objects to delete, retrieved querysets are cached.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Notifications"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this Notification.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/parameters/": {
            "get": {
                "operationId": "api_v1_parameters_list",
                "description": "",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Filter by project id",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ParameterV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "post": {
                "operationId": "api_v1_parameters_create",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": []
        },
        "/api/v1/parameters/deleted/": {
            "get": {
                "operationId": "api_v1_parameters_recovery_list",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ParameterV1"
                            }
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": []
        },
        "/api/v1/parameters/deleted/recover/": {
            "post": {
                "operationId": "api_v1_parameters_deleted_restore",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": []
        },
        "/api/v1/parameters/deleted/remove/": {
            "post": {
                "operationId": "api_v1_parameters_deleted_delete_permanently",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": []
        },
        "/api/v1/parameters/{id}/": {
            "get": {
                "operationId": "api_v1_parameters_read",
                "description": "",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "put": {
                "operationId": "api_v1_parameters_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "patch": {
                "operationId": "api_v1_parameters_partial_update",
                "description": "",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ParameterV1"
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "delete": {
                "operationId": "api_v1_parameters_delete",
                "summary": "Replace default destroy method.",
                "description": "Replacement for default destroy action, if user retrieved deleted objects, we save gathered querysets to\ncache and if he submits deletion within time gap use user cookie to retrieve cache and delete objects.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this parameter.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/parameters/{id}/delete/preview/": {
            "get": {
                "operationId": "api_v1_parameters_delete_delete_preview",
                "description": "Get preview of objects to delete, retrieved querysets are cached.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "description": "Count of objects",
                                        "type": "integer"
                                    },
                                    "verbose_name": {
                                        "description": "Verbose name of model",
                                        "type": "string"
                                    },
                                    "verbose_name_related_model": {
                                        "description": "Verbose name of related model",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Parameters"
                ]
            },
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "A unique integer value identifying this parameter.",
                    "required": true,
                    "type": "integer"
                }
            ]
        },
        "/api/v1/projects/": {
            "get": {
                "operationId": "api_v1_projects_list",
                "description": "",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Case-insensitive filter for partial matches within the string",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "favorites",
                        "in": "query",
[...]
